.hero {
    height:100vh;
    width: 100vw;
    position: relative;
    background-image: url("../images/constructBg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-color: #fff;
    overflow: hidden;


    div.hero__intro {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__intro {
        display: flex;
        flex-direction: column;
        text-align: center;

        img {
            width: 20rem;
            height: 20rem;
        }

        h2 {
            margin: 0;
            font-size: 5rem;
            text-transform: uppercase;
            font-family: depot-new-web,sans-serif;
            font-weight: 700;
            font-style: normal;
            color: #fff;
        }
        h1 {
            margin: 0 0 8rem 0;
            font-size: 3.2rem;
            text-transform: uppercase;
            font-family: depot-new-web,sans-serif;
            font-weight: 300;
            font-style: normal;
            color: #fff;
        }
        p {
            font-size: 6rem;
            font-family: depot-new-web,sans-serif;
            font-weight: 700;
            font-style: normal;
            color: #CC4C33;
            margin: 0;
        }
        button {
            width:23rem;
            font-size: 1.8rem;
            text-transform: uppercase;
            padding: 1rem 0 1rem 0;
            border: solid white 1.5px;
            background-color: #243644;
            color: white;
            margin-top: 10px;
        }
        button:hover {
            cursor: pointer;
            background-color: #10283a;
        }
    }

    div.hero__nav {
        position: absolute;
        height: 100vh;
        display: flex;
        top: 0;
        justify-content: center;
    }
    &__nav {
        display: flex;
        flex-direction: column;
        
        a {
            width:3rem;
            height:3rem;
            padding: 8px;
            background-color: #5F666C;
            margin-bottom: 1rem;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);

            img {
                width: 3rem;
                height: 3rem;
            }
        }

        a.contact-cta {
            display: flex;
            align-items: center;
            width:13rem;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            font-size: 1.8rem;
            background-color: #AF3315;

            p {
                margin-right: 10px;
            }
        }

        a.facebook {
            background-color: #547CB9;
        }
        a.twitter {
            background-color: #64CBF4;
        }
        a.google {
            background-color: #E04203;
        }

    }

    img.red-triangle {
        position: absolute;
        width:8rem;
        height:auto;
        top:0;
        left: 50%;
        margin-left:-4rem;
    }
    
}

@media screen and (max-width: 480px) {
 .hero {
    &__intro {
        h2 {
            font-size: 4.2rem;
        }
        h1 {
            font-size: 2.6rem;
        }
        p {
            font-size: 5rem;
        }
    }
 } 
}

/* -- Mobile Navigation -- */
.hero {

    

    .mobile-nav-toggle {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.205);
        border-radius: 5px;
        margin: 0.5rem 0.5rem 0 0;
        
        i {
            font-size: 4rem;
            color: white;
            padding: 1rem;
        }
    }
    .mobile-nav-toggle:active {
        i {
            color:#CC4C33
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        &__nav {
            a.contact-cta {
                width: 3rem;
            }
            p {
                display: none;
            }
        }
    }
  }

@media screen and (max-width: 480px) {
    .hero {

        &__nav {
            margin-left: -5rem;
            -webkit-transition: margin-left 0.5s ease-in-out; 
            transition: margin-left 0.5s linear;

            a.contact-cta {
                width: 3rem;
            }
            p {
                display: none;
            }
        }

        .mobile-nav-toggle {
            display: block !important;
            
        }
    }

}

.active-mobile-nav {
    margin-left: 0 !important;
}



