@use "hero";
@use "social-proof";
@use "featured-projects";
@use "about-section";
@use "footer";

html {
    font-size: 62.5%;
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

.wrapper {
    max-width: 1300px;
    margin: auto;
    padding:0 2rem 0 2rem;
}

/* Global Font Sizes */
h1 { font-size: 5rem;}
h2 { font-size: 4rem; }
h3 { font-size: 3.5rem; }
h4 { font-size: 3rem; }
h5 { font-size: 2.5rem; }

a, p, span {
    font-family: depot-new-web, sans-serif;
    font-weight: 400;
    font-style: normal;
}